# Fichiers volumineux à ignorer
agent/logic/Llama-3.3-70B@Instruct-all-cbmc.json
agent/logic/Llama-3.3-70B@Instruct-all-model_only.json
agent/logic/Llama-3.3-70B@Instruct-prolog-half.json
.DS_Store
**/.DS_Store
__pycache__
.env
.vscode
*.aux
*.bbl
*.blg
*.fls
*.log
*.out
*.pdf
*.tar.gz
benchmark-results
build
datasets
inference/metagen_chat_completion.py
openapi_server
